.bordeuno, .flex-container3 {
  background-color: rgba(255, 255, 255, 0.7);
  border: rgba 255, 255, 255, 0, 5; }

.bordedos, .main__texto, .item__grid {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black; }

body {
  background-image: url(../recursos/imagenes/paisaje-del-campo-de-campos-verdes-fondo-3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.bg-transparente {
  background-color: rgba 255, 255, 255, 0, 5; }

.navbar-nav {
  gap: 10px; }

.navbar-brand:hover {
  transform: scale(1.5); }

.nav-link {
  color: black; }
  .nav-link:hover {
    transform: scale3d(1.3, 1, 1); }

.flex-containerindex {
  display: flex;
  flex-flow: column;
  gap: 20px; }

.edit__img {
  height: 25rem;
  width: 50rem; }

.main__texto {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-around; }

.grid__containermain {
  display: grid;
  border: 5px solid rgb 255, 255, 255, 0, 5;
  grid-template-areas: "uno dos tres" "uno cuatro cinco";
  gap: 5px; }

.grid__texto {
  grid-area: uno;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem;
  justify-self: center;
  align-self: center; }

.grid__imag {
  grid-area: dos; }

.grid__imagdos {
  grid-area: tres; }

.grid__imagtres {
  grid-area: cuatro; }

.grid__imagcuatro {
  grid-area: cinco; }

h1 {
  color: black;
  padding: 2rem; }

.grid__container {
  margin: 2rem;
  display: grid;
  border: 2px solid rgb 255, 255, 255, 0, 5;
  grid-template-areas: "uno dos tres"  "cuatro cinco seis";
  gap: 2rem;
  text-align: center;
  padding: 1rem; }

.grid__perrosygatos {
  grid-template-areas: uno;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__alimento {
  grid-template-areas: dos;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__mantas {
  grid-template-areas: tres;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__agroquimicos {
  grid-template-areas: cuatro;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__semillas {
  grid-template-areas: cinco;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__idai {
  grid-template-areas: seis;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.img__perrosygatos {
  height: 10rem;
  width: 10rem; }

.menu__desplegable {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  margin: 1.5rem; }

.flex-container3 {
  padding: 20px;
  display: flex;
  flex-flow: column;
  width: 60%;
  height: 350px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
  gap: 10px; }

.flex-container-redes {
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  padding: 20px; }

.footer__redes {
  width: 55px;
  height: 55px; }

.footer__ubicacion {
  width: 70px;
  height: 70px; }

@media (min-width: 320px) and (max-width: 540px) {
  .edit__img {
    height: 10rem;
    width: 20rem; }
  .grid__container {
    margin: 0.3rem;
    display: grid;
    border: 1rem solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno"  "dos"  "tres" "cuatro"  "cinco" "seis";
    justify-content: flex-end; }
  .grid__perrosygatos {
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__alimento {
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__mantas {
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__agroquimicos {
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__semillas {
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__idai {
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .img__perrosygatos {
    height: 7rem;
    width: 7rem; }
  .item__grid {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0.2; }
  .grid__containermain {
    display: grid;
    border: 5px solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno uno uno uno" "dos tres cuatro cinco";
    gap: 5px; }
  .grid__texto {
    grid-area: uno;
    background-color: rgba(255, 255, 255, 0.507);
    margin: 2rem; }
  .grid__imag {
    grid-area: dos;
    display: none; }
  .grid__imagdos {
    grid-area: tres;
    display: none; }
  .grid__imagtres {
    grid-area: cuatro;
    display: none; }
  .grid__imagcuatro {
    grid-area: cinco;
    display: none; }
  .grid__contactanos {
    display: grid;
    border: solid rgba 255, 255, 255, 0, 5;
    grid-template-areas: "telefonos"  "contacto";
    margin: 0.1rem;
    justify-items: flex-start; }
  .grid__telefonos {
    background-color: rgba(255, 255, 255, 0.7);
    grid-area: telefonos;
    margin: 0.1rem;
    width: 19rem;
    display: grid; }
  .grid__contacto {
    grid-area: contacto;
    margin: 0.1rem; } }

@media (min-width: 541px) and (max-width: 720px) {
  .grid__containermain {
    display: grid;
    border: 5px solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno uno " "dos tres ";
    gap: 5px; }
  .grid__texto {
    grid-area: uno;
    background-color: rgba(255, 255, 255, 0.507);
    margin: 2rem; }
  .grid__imag {
    grid-area: dos;
    margin: 2rem; }
  .grid__imagdos {
    grid-area: tres;
    margin: 2rem; }
  .grid__imagtres {
    grid-area: cuatro;
    display: none; }
  .grid__imagcuatro {
    grid-area: cinco;
    display: none; }
  .grid__container {
    margin: 0.3rem;
    display: grid;
    border: solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno dos"  "tres cuatro" "cinco seis";
    gap: 0.5rem;
    text-align: center; }
  .grid__perrosyatos {
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__alimento {
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__mantas {
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__agroquimicos {
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__semillas {
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__idai {
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .img__perrosygatos {
    height: 7rem;
    width: 7rem; }
  .item__grid {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7); } }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../recursos/imagenes/paisaje-del-campo-de-campos-verdes-fondo-3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.bg-transparente {
  background-color: rgb 255, 255, 255, 0, 5; }

.navbar-nav {
  gap: 10px; }

.navbar-brand:hover {
  transform: scale(1.5); }

.nav-link {
  color: black; }
  .nav-link:hover {
    transform: scale3d(1.3, 1, 1); }

.flex-containerindex {
  display: flex;
  flex-flow: column;
  gap: 20px; }

.edit__img {
  height: 25rem;
  width: 50rem; }

.main__texto {
  border: 1px solid #032903;
  background-color: rgb 167, 183, 167;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-around; }

.footer__redes {
  width: 55px;
  height: 55px; }

.footer__ubicacion {
  width: 70px;
  height: 70px; }

h1 {
  color: black;
  padding: 2rem; }

h3 {
  padding: 1rem;
  font-size: 1rem;
  color: black; }

.grid__container {
  margin: 2rem;
  display: grid;
  border: 2px solid rgb 255, 255, 255, 0, 5;
  grid-template-areas: "uno dos tres"  "cuatro cinco seis";
  gap: 2rem;
  text-align: center; }

.grid__perrosygatos {
  grid-template-areas: uno;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__alimento {
  grid-template-areas: dos;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__mantas {
  grid-template-areas: tres;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__agroquimicos {
  grid-template-areas: cuatro;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__semillas {
  grid-template-areas: cinco;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__idai {
  grid-template-areas: seis;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.img__perrosygatos {
  height: 10rem;
  width: 10rem; }

.item__grid {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.507); }

.menu__desplegable {
  display: flex;
  align-content: flex-end;
  justify-content: center; }

.flex-container3 {
  border: 1px solid rgba(255, 255, 255, 0.507);
  background-color: rgba(255, 255, 255, 0.507);
  padding: 20px;
  display: flex;
  flex-flow: column;
  width: 60%;
  height: 350px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center; }

.flex-container-redes {
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  padding: 20px; }

.grid__containermain {
  display: grid;
  border: 5px solid rgb 255, 255, 255, 0, 5;
  grid-template-areas: "uno dos tres" "uno cuatro cinco";
  gap: 5px; }

.grid__texto {
  grid-area: uno;
  background-color: rgba(255, 255, 255, 0.507);
  margin: 2rem;
  justify-self: center;
  align-self: center; }

.grid__imag {
  grid-area: dos; }

.grid__imagdos {
  grid-area: tres; }

.grid__imagtres {
  grid-area: cuatro; }

.grid__imagcuatro {
  grid-area: cinco; }

.grid__contactanos {
  display: grid;
  border: 2px solid rgba 255, 255, 255, 0, 5;
  grid-template-areas: "telefonos contacto";
  margin: 2rem;
  justify-content: flex-start;
  gap: 10rem; }

.grid__telefonos {
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-areas: telefonos;
  justify-items: center;
  width: 25rem;
  font-size: 1.2rem; }

.grid__contacto {
  display: grid;
  grid-template-areas: contacto; }

@media (min-width: 320px) and (max-width: 540px) {
  h1 {
    color: black;
    padding: 1rem; }
  .edit__img {
    height: 10rem;
    width: 20rem; }
  .grid__container {
    margin: 0.5rem;
    display: grid;
    border: 2px solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno"  "dos"  "tres"  "cuatro" "cinco"  "seis";
    gap: 0.5rem;
    text-align: center;
    justify-content: center; }
  .grid__perrosygatos {
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__alimento {
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__mantas {
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__agroquimicos {
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__semillas {
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__idai {
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .img__perrosygatos {
    height: 7rem;
    width: 7rem; }
  .item__grid {
    border: 1px solid black;
    background-color: rgb rgba(255, 255, 255, 0.507); }
  .grid__containermain {
    display: grid;
    border: 5px solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno uno uno uno" "dos tres cuatro cinco";
    gap: 5px; }
  .grid__texto {
    grid-area: uno;
    background-color: rgba(255, 255, 255, 0.507);
    margin: 2rem; }
  .grid__imag {
    grid-area: dos;
    display: none; }
  .grid__imagdos {
    grid-area: tres;
    display: none; }
  .grid__imagtres {
    grid-area: cuatro;
    display: none; }
  .grid__imagcuatro {
    grid-area: cinco;
    display: none; }
  .grid__contactanos {
    display: grid;
    border: solid rgba 255, 255, 255, 0, 5;
    grid-template-areas: "telefonos"  "contacto";
    margin: 0.1rem;
    justify-items: flex-start; }
  .grid__telefonos {
    background-color: rgba(255, 255, 255, 0.7);
    grid-area: telefonos;
    margin: 0.1rem;
    width: 19rem;
    display: grid; }
  .grid__contacto {
    grid-area: contacto;
    margin: 0.1rem; } }

@media (min-width: 541px) and (max-width: 720px) {
  .grid__containermain {
    display: grid;
    border: 5px solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno uno " "dos tres ";
    gap: 5px; }
  .grid__texto {
    grid-area: uno;
    background-color: rgba(255, 255, 255, 0.507);
    margin: 2rem; }
  .grid__imag {
    grid-area: dos;
    margin: 2rem; }
  .grid__imagdos {
    grid-area: tres;
    margin: 2rem; }
  .grid__imagtres {
    grid-area: cuatro;
    display: none; }
  .grid__imagcuatro {
    grid-area: cinco;
    display: none; }
  .grid__container {
    margin: 0.5rem;
    display: grid;
    border: 2px solid rgb 255, 255, 255, 0, 5;
    grid-template-areas: "uno dos"  "tres cuatro" "cinco seis";
    gap: 1rem;
    text-align: center; }
  .grid__perrosyatos {
    grid-template-areas: uno;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__alimento {
    grid-template-areas: dos;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__mantas {
    grid-template-areas: tres;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__agroquimicos {
    grid-template-areas: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__semillas {
    grid-template-areas: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid__idai {
    grid-template-areas: seis;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .img__perrosygatos {
    height: 7rem;
    width: 7rem; }
  .item__grid {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7); } }
