*{
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../recursos/imagenes/paisaje-del-campo-de-campos-verdes-fondo-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-transparente {
    background-color: rgb(255,255,255,0,5);
}

.navbar-nav {
    gap: 10px;
}



.navbar-brand:hover {
    transform: scale(1.5);
}

.nav-link:hover{
    transform: scale3d(1.3,1,1);
}


.nav-link {
    color: black;
}

.flex-containerindex{
    display: flex;
    flex-flow: column;
    gap: 20px;
}


.edit__img {
    height: 25rem;
    width: 50rem;
}

.main__texto {
    border: 1px solid rgb(3, 41, 3);
    background-color: rgb(167, 183, 167);
    padding: 20px;
    display: flex;
    flex-flow:row wrap;
    width: 90%;
    margin: 0 auto;
    justify-content:space-between;
    align-content: space-around;
}

.footer__redes {
    width: 55px;
    height: 55px;
}

.footer__ubicacion {
    width: 70px;
    height: 70px;    
}

.grid__container{
    display: grid;
    border: 2px solid black;
    
    grid-template-areas: "uno dos tres" 
                        "cuatro cinco seis"
}

.grid__perrosyatos{
    grid-template-areas: uno;

}


.img__perrosygatos{
    height: 10rem;
    width: 10rem;
    justify-content: center;
}

.grid__alimento{
    grid-template-areas: dos;
}

.grid__mantas{
    grid-template-areas: tres;
}

.grid__agroquimicos {
    grid-template-areas: cuatro;
}

.grid__semillas{
    grid-template-areas: cinco;
}

.grid__idai{
    grid-template-areas: seis;
}


.item__grid{
    border: 2px solid black;
    
}

.flex-container3 {
    border: 1px solid rgb(255,255,255,o,5);
    background-color: rgb(255,255,255,0.5);
    padding: 20px;
    display: flex;
    flex-flow:column;
    width: 60%;
    height: 350px;
    margin: 0 auto;
    justify-content:space-between;
    align-content:center;
}



.flex-containermain {
    background-color: rgb(98, 222, 98);
    padding: 20px;
    display: flex;
    flex-flow:row wrap;
    width: 90%;
    margin: 0 auto;

}

.containermain-foto {

    color: black;
    font-weight: bold;
    width: 250px;
    height: 150px;
    line-height: 15px;
    text-align:start;
    margin: 5px;
    text-decoration: none;
    padding: 4px;
    align-content:center;
}

.containermain-texto {
    border: 2px solid white;
    background-color: rgb(103, 176, 103);
    color: black;
    font-weight: bold;
    width: 450px;
    height: 200px;
    line-height: 15px;
    text-align:start;
    margin: 5px;
    text-decoration: none;
    align-content:center;

}

.flex-container4 {
    border: 1px solid rgb(255,255,255,o,5);
    background-color:rgb(255,255,255,0.5);
    padding: 20px;
    display: flex;
    flex-flow:column;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    justify-content:space-between;
    align-content:center;
}

.flex-container-redes {
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    padding: 20px

}


.grid__containermain {
    display: grid;
    border: 5px solid rgb(255,255,255,0,5);
    grid-template-areas: "uno dos dos"
                        "uno dos dos";
    gap: 10px;
}

.grid__imag {
grid-area: uno;
}

.grid__texto {
grid-area: dos;
background-color: rgb(255,255,255,0,5);
}


@media (min-width: 320px) and (max-width: 540px){
    .edit__img {
        height: 10rem;
        width: 20rem;
    }
}

@media (min-width: 541px) and (max-width: 720px){

}