.flex {
    &-container3 {
        border: 1px solid $color-secundario;
        background-color: $color-secundario;
        padding: 20px;
        display: flex;
        flex-flow:column;
        width: 60%;
        height: 350px;
        margin: 0 auto;
        justify-content:space-between;
        align-content:center;
        gap: 10px;
    }


    &-container-redes {
        color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        margin: 0 auto;
        padding: 20px
    
    }

}