.flex-containerindex{
    display: flex;
    flex-flow: column;
    gap: 20px;
}


.edit__img {
    height: 25rem;
    width: 50rem;
}

.main__texto {
    @extend .bordedos;
    padding: 20px;
    display: flex;
    flex-flow:row wrap;
    width: 200rem;
    margin: 0 auto;
    justify-content:space-between;
    align-content: space-around;
}