@media (min-width: 320px) and (max-width: 540px){
    .edit__img {
        height: 10rem;
        width: 20rem;
    }

    .grid {
        &__container{
            margin: 0.3rem;
            display: grid;
            border: 1rem  solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno" 
                                "dos" 
                                "tres"
                                "cuatro" 
                                "cinco"
                                "seis";
            
            
            justify-content:flex-end;

            
        } 
        &__perrosygatos{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
        &__alimento{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__mantas{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__agroquimicos {
            grid-area: cuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__semillas{
            grid-area: cinco;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__idai{
            grid-area: seis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
    }

    .img__perrosygatos{
        height: 7rem;
        width: 7rem;
    
    }
    
    .item__grid{
        border: 1rem solid black;
        background-color: rgb rgba(255, 255, 255, 0.507);
        margin: 0.2;
    }

    .grid {
        &__containermain {
            display: grid;
            border: 5px solid rgb (255,255,255,0,5);
            grid-template-areas: "uno uno uno uno"
                                "dos tres cuatro cinco";
            gap: 5px;
            }
        &__texto {
                grid-area: uno;
                background-color: rgba(255, 255, 255, 0.507);
                margin: 2rem;
            }
        &__imag {
                grid-area: dos;
                display: none;
            }
            
        &__imagdos{
                grid-area: tres;
                display: none;  
            }
            
        &__imagtres{
                grid-area: cuatro;
                display: none;
            }
            
        &__imagcuatro{
                grid-area: cinco;
                display: none;
            }                
    }
    .grid{
        &__contactanos{
            display: grid;
            border: solid rgba (255, 255, 255, 0,5);
            grid-template-areas:"telefonos" 
                                "contacto";
            margin: 0.1rem;
            justify-items: flex-start;
            
            
        }
        
        &__telefonos{
            background-color: $color-secundario;
            grid-area: telefonos;
            margin: 0.1rem;
            width: 19rem;
            display: grid;
        }
        
        &__contacto{
            grid-area: contacto;
            margin: 0.1rem;
            
        }
    }
}



@media (min-width: 541px) and (max-width: 720px){
    .grid {
       &__containermain {
            display: grid;
            border: 5px solid rgb (255,255,255,0,5);
            grid-template-areas: "uno uno "
                                "dos tres ";
            gap: 5px;
            
        }
        &__texto {
            grid-area: uno;
            background-color: rgba(255, 255, 255, 0.507);
            margin: 2rem;
        }
        
        &__imag {
            grid-area: dos;
            margin: 2rem;
        }
        
        &__imagdos{
            grid-area: tres;
            margin: 2rem;
        }
        
        &__imagtres{
            grid-area: cuatro;
            display: none;
        }
        
        &__imagcuatro{
            grid-area: cinco;
        display: none;
        }
    
    }

    .grid {
        &__container{
            margin: 0.3rem;
            display: grid;
            border:  solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno dos" 
                                "tres cuatro"
                                "cinco seis";
            gap: 0.5rem;
             text-align: center; 
            
        }
        
        &__perrosyatos{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
        
        &__alimento{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__mantas{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__agroquimicos {
            grid-area: cuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__semillas{
            grid-area: cinco;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__idai{
            grid-area: seis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .img__perrosygatos{
        height: 7rem;
        width: 7rem;
    
    }
    
    .item__grid{
        border: 1px solid black;
        background-color: $color-secundario;
    }
}
