@media (min-width: 320px) and (max-width: 540px){
    .edit__img {
        height: 10rem;
        width: 20rem;
    }

    .grid {
        &__container{
            margin: 0.3rem;
            display: grid;
            border: 1rem  solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno" 
                                "dos" 
                                "tres"
                                "cuatro" 
                                "cinco"
                                "seis";
            
            
            justify-content:flex-end;

            
        } 
        &__perrosygatos{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
        &__alimento{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__mantas{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__agroquimicos {
            grid-area: cuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__semillas{
            grid-area: cinco;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__idai{
            grid-area: seis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
    }

    .img__perrosygatos{
        height: 7rem;
        width: 7rem;
    
    }
    
    .item__grid{
        border: $color-borde;
        background-color: $color-secundario;
        margin: 0.2;
    }

    .grid {
        &__containermain {
            display: grid;
            border: 5px solid rgb (255,255,255,0,5);
            grid-template-areas: "uno uno uno uno"
                                "dos tres cuatro cinco";
            gap: 5px;
            }
        &__texto {
                grid-area: uno;
                background-color: rgba(255, 255, 255, 0.507);
                margin: 2rem;
            }
        &__imag {
                grid-area: dos;
                display: none;
            }
            
        &__imagdos{
                grid-area: tres;
                display: none;  
            }
            
        &__imagtres{
                grid-area: cuatro;
                display: none;
            }
            
        &__imagcuatro{
                grid-area: cinco;
                display: none;
            }                
    }
    .grid{
        &__contactanos{
            display: grid;
            border: solid rgba (255, 255, 255, 0,5);
            grid-template-areas:"telefonos" 
                                "contacto";
            margin: 0.1rem;
            justify-items: flex-start;
            
            
        }
        
        &__telefonos{
            background-color: $color-secundario;
            grid-area: telefonos;
            margin: 0.1rem;
            width: 19rem;
            display: grid;
        }
        
        &__contacto{
            grid-area: contacto;
            margin: 0.1rem;
            
        }
    }

    .grid {
        &__containerprom{
            margin: 0.5rem;
    
            display: grid;
            border: 1rem solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno" 
                                "dos";
                                
            gap: 1rem;
            padding: 1rem; 
        }
        &__ofertas{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
        }
        &__descuentos {
            grid-area: dos;
            display: flex;
            flex-direction: column;
            
        }
    }
    
    .item__gridprom{
        background-color: $color-secundario;
        border: $color-borde;
         width: 25rem;
         height: 25rem;
    }
    
    .titulo__promo {
        font-size: 1.5rem;
    }
    
    .img__oferta {
        height: 5rem;
        width: 7rem;
    }
    
    .titulo__grid {
        text-align: center;
    }

    .grid{
        &__footer{
        margin: 0.5rem;
        display: grid;
        grid-template-areas: "uno uno cuatro"
                             "dos dos cinco"
                             "tres tres cinco";
        
        background-color: rgba(0, 0, 0, 0.765);
    }
        &__mail{
        grid-area: uno;
    }
        &__telefono{
        grid-area: dos;
    }
        &__ubicacion{
       grid-area: tres;
    }
        &__facebook{
        grid-area: cuatro;
    }
        &__instagram{
        grid-area: cinco;
    }
    }
    
    .item__footer{
        display: flex;
        flex-flow: row;
        padding: 1rem;
        gap: 1rem;
        color: white;
    }
    .img__footer{
        width: 0.8rem;
        height: 0.8rem;
    }

    .media-body{
        position: relative;
        margin-bottom: 2.5rem;
        min-height: 100vh;
    }

    .media-footer{
        position:absolute;
        bottom: 0%;
    }
}


@media (min-width: 541px) and (max-width: 720px){

    .edit__img {
        height: 20rem;
        width: 30rem;
    }

    .grid {
       &__containermain {
            display: grid;
            border: 5px solid rgb (255,255,255,0,5);
            grid-template-areas: "uno uno "
                                "dos tres ";
            gap: 5px;
            
        }
        &__texto {
            grid-area: uno;
            background-color: rgba(255, 255, 255, 0.507);
            margin: 2rem;
        }
        
        &__imag {
            grid-area: dos;
            margin: 2rem;
        }
        
        &__imagdos{
            grid-area: tres;
            margin: 2rem;
        }
        
        &__imagtres{
            grid-area: cuatro;
            display: none;
        }
        
        &__imagcuatro{
            grid-area: cinco;
        display: none;
        }
    
    }

    .grid {
        &__container{
            margin: 0.3rem;
            display: grid;
            border:  solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno dos" 
                                "tres cuatro"
                                "cinco seis";
            gap: 0.5rem;
             text-align: center; 
            
        }
        
        &__perrosyatos{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
        
        &__alimento{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__mantas{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__agroquimicos {
            grid-area: cuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__semillas{
            grid-area: cinco;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__idai{
            grid-area: seis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .img__perrosygatos{
        height: 7rem;
        width: 7rem;
    
    }
    
    .item__grid{
        border: $color-borde;
        background-color: $color-secundario;
    }

    .grid{
        &__contactanos{
            display: grid;
            border: solid rgba (255, 255, 255, 0,5);
            grid-template-areas:"telefonos" 
                                "contacto";
            margin: 0.1rem;
            justify-items: flex-start;
            
            
        }
        
        &__telefonos{
            background-color: $color-secundario;
            grid-area: telefonos;
            margin: 0.1rem;
            width: 19rem;
            display: grid;
        }
        
        &__contacto{
            grid-area: contacto;
            margin: 0.1rem;
            
        }
    }

    .grid {
        &__containerprom{
            margin: 3rem;
    
            display: grid;
            border: 1rem solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno" 
                                "dos";
                         
            gap: 1rem;
            padding: 1rem; 
        }
        &__ofertas{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
        }
        &__descuentos {
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    .item__gridprom{
        background-color: $color-secundario;
        border: $color-borde;
         width: 28rem;
         height: 24rem;
    }
    
    .titulo__promo {
        font-size: 1.5rem;
    }
    
    .img__oferta {
        height: 10rem;
        width: 12rem;
    }
    
    .titulo__grid {
        text-align: center;
    }


}
