@import 'variables';
@import 'helpers';
@import 'body';
@import 'header';
@import 'mainindex';
@import 'mainnosotros';
@import 'mainproductos';
@import 'card';
@import 'mainpromociones';
@import 'maincontacto';
@import 'footer';
@import 'mediaqueris';



*{
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../recursos/imagenes/paisaje-del-campo-de-campos-verdes-fondo-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-transparente {
    background-color: rgb (255,255,255,0,5);
}

.navbar-nav {
    gap: 10px;
}


.navbar-brand:hover {
    transform: scale(1.5);
}

.nav-link {
    color: black;
    &:hover{
        transform: scale3d(1.3,1,1);
    }
}

.flex-containerindex{
    display: flex;
    flex-flow: column;
    gap: 20px;
}


.edit__img {
    height: 25rem;
    width: 50rem;
}

.main__texto {
    border: 1px solid rgb(3, 41, 3);
    background-color: rgb (167, 183, 167);
    padding: 20px;
    display: flex;
    flex-flow:row wrap;
    width: 90%;
    margin: 0 auto;
    justify-content:space-between;
    align-content: space-around;
}

.footer {
    &__redes {
        width: 55px;
        height: 55px;
    }
    &__ubicacion{
        width: 70px;
        height: 70px;  
    }
}

h1{
    color: black;
    padding: 2rem;
}
h3{
    padding: 1rem; 
    font-size: 1rem;
    color: black;
}
.grid {
    &__container{
        margin: 2rem;

        display: grid;
        border: 2px solid  rgb (255,255,255,0,5);
        grid-template-areas: "uno dos tres" 
                            "cuatro cinco seis";
        gap: 2rem;
         text-align: center;  
    }

    &__perrosygatos{
        grid-template-areas: uno;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__alimento{
        grid-template-areas: dos;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__mantas{
        grid-template-areas: tres;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__agroquimicos{
        grid-template-areas: cuatro;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__semillas{
        grid-template-areas: cinco;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__idai{
        grid-template-areas: seis;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
}

.img__perrosygatos{
    height: 10rem;
    width: 10rem;

}

.item__grid{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.507);   
}

.menu__desplegable {
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.flex {
    &-container-redes {
        color: black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        margin: 0 auto;
        padding: 20px
    
    }

}


.grid{
    &__containermain{
        display: grid;
        border: 5px solid rgb (255,255,255,0,5);
        grid-template-areas: "uno dos tres"
                            "uno cuatro cinco";
        gap: 5px;   
    }
    &__texto{
        grid-area: uno;
        background-color: rgba(255, 255, 255, 0.507);
        margin: 2rem;
        justify-self: center;
        align-self: center;
    }
    &__imag {
        grid-area: dos;
    }
    
    &__imagdos{
        grid-area: tres;    
    }
    
    &__imagtres{
        grid-area: cuatro;
    }
    
    &__imagcuatro{
        grid-area: cinco;
    }
}

.grid{
    &__contactanos{
        display: grid;
        border: 2px solid rgba (255, 255, 255, 0,5);
        grid-template-areas: "telefonos contacto";
        margin: 2rem;
        justify-content:flex-start;
        gap: 10rem;

    }
    
    &__telefonos{
        background-color: $color-secundario;
        display: grid;
        grid-template-areas: telefonos;
        justify-items: center;
        width: 25rem;
        font-size: 1.2rem;
    }
    
    &__contacto{
        
        display: grid;
        grid-template-areas: contacto;
    }
}

@media (min-width: 320px) and (max-width: 540px){
    h1{
        color: black;
        padding: 1rem;
    }
    .edit__img {
        height: 10rem;
        width: 20rem;
    }

    .grid {
        &__container{
            margin: 0.5rem;
        
            display: grid;
            border: 2px solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno" 
                                "dos" 
                                "tres" 
                                "cuatro"
                                "cinco" 
                                "seis";
            gap: 0.5rem;
             text-align: center; 
            justify-content: center;
            
        } 
        &__perrosygatos{
            grid-area: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
        &__alimento{
            grid-area: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__mantas{
            grid-area: tres;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__agroquimicos {
            grid-area: cuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__semillas{
            grid-area: cinco;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__idai{
            grid-area: seis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
    }

    .img__perrosygatos{
        height: 7rem;
        width: 7rem;
    
    }
    
    .item__grid{
        border: 1px solid black;
        background-color: rgb rgba(255, 255, 255, 0.507);
    }

    .grid {
        &__containermain {
            display: grid;
            border: 5px solid rgb (255,255,255,0,5);
            grid-template-areas: "uno uno uno uno"
                                "dos tres cuatro cinco";
            gap: 5px;
            }
        &__texto {
                grid-area: uno;
                background-color: rgba(255, 255, 255, 0.507);
                margin: 2rem;
            }
        &__imag {
                grid-area: dos;
                display: none;
            }
            
        &__imagdos{
                grid-area: tres;
                display: none;  
            }
            
        &__imagtres{
                grid-area: cuatro;
                display: none;
            }
            
        &__imagcuatro{
                grid-area: cinco;
                display: none;
            }                
    }

    .grid{
        &__contactanos{
            display: grid;
            border: solid rgba (255, 255, 255, 0,5);
            grid-template-areas:"telefonos" 
                                "contacto";
            margin: 0.1rem;
            justify-items: flex-start;
            justify-content: center;
            
            
        }
        
        &__telefonos{
            background-color: $color-secundario;
            grid-area: telefonos;
            margin: 0.1rem;
            width: 19rem;
            display: grid;
        }
        
        &__contacto{
            grid-area: contacto;
            margin: 0.1rem;
            
        }
    }

}

@media (min-width: 541px) and (max-width: 720px){
    .grid {
       &__containermain {
            display: grid;
            border: 5px solid rgb (255,255,255,0,5);
            grid-template-areas: "uno uno "
                                "dos tres ";
            gap: 5px;
            
        }
        &__texto {
            grid-area: uno;
            background-color: rgba(255, 255, 255, 0.507);
            margin: 2rem;
        }
        
        &__imag {
            grid-area: dos;
            margin: 2rem;
        }
        
        &__imagdos{
            grid-area: tres;
            margin: 2rem;
        }
        
        &__imagtres{
            grid-area: cuatro;
            display: none;
        }
        
        &__imagcuatro{
            grid-area: cinco;
        display: none;
        }
    
    }

    .grid {
        &__container{
            margin: 0.5rem;
        
            display: grid;
            border: 2px solid  rgb (255,255,255,0,5);
            grid-template-areas: "uno dos" 
                                "tres cuatro"
                                "cinco seis";
            gap: 1rem;
             text-align: center; 
            
        
        }
        
        &__perrosyatos{
            grid-template-areas: uno;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }
        
        &__alimento{
            grid-template-areas: dos;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__mantas{
            grid-template-areas: tres;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__agroquimicos {
            grid-template-areas: cuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__semillas{
            grid-template-areas: cinco;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        &__idai{
            grid-template-areas: seis;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .img__perrosygatos{
        height: 7rem;
        width: 7rem;
    
    }
    
    .item__grid{
        border: 1px solid black;
        background-color: $color-secundario
    }
    .grid{
        &__contactanos{
            display: grid;
            border: solid rgba (255, 255, 255, 0,5);
            grid-template-areas:"telefonos" 
                                "contacto";
            margin: 0.1rem;
            justify-items: flex-start;
            justify-content: center;
            
            
        }
        
        &__telefonos{
            background-color: $color-secundario;
            grid-area: telefonos;
            margin: 2rem;
            width: 19rem;
            display: grid;
        }
        
        &__contacto{
            grid-area: contacto;
            margin: 0.1rem;
            
        }
    }
}
